td {
    color: pink;
    background-color: aqua;
}
p {
    color: pink;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange
}

#yellow {
    background-color: yellow
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

table {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
  }